# ignore everything
*

!/**/*.gitignore
!/.dockerignore
!/.editorconfig
!/.gitmodules

# and then whitelist specific things
!/**/
!**/*.py
!**/*.rs
!**/*.zig
!**/*.lasm
!**/*.odin
!**/*.c
!**/*.h
!**/*.yml
!**/*.scm
!**/*.md
!**/*.yuri
!**/*.toml
!**/*.htm
!**/*.html
!**/*.css
!*.txt
!**/*.png
!**/*.jpg
!**/*.ico
!**/*.json
!*.sh
!*.bat
!/amy/
!/extension/vscode/yurilang/
!/Dockerfile
!/AUTHORS
!/pkg/**
!/bin/

!/.github/
!/**/LICENSE
!/**/Makefile

# ignore build & unnecessary directories
/build/
/dump/
/.idea/
/.zed/
/.vscode/
/pkm/test/
/extension/
/bin/

# Added by cargo

/target
