# ignore everything
*
!/**/*.gitignore
!/.dockerignore
!/.editorconfig

# and then whitelist specific things
!/**/
!**/*.py
!**/*.rs
!**/*.go
!**/*.zig
# !**/*.swift
!**/*.yml
!**/*.md
!**/*.yuri
!**/*.toml
!*.txt
!**/*.png
!**/*.ico
!*.sh
!*.bat
!/amy/
!/Dockerfile
!/pkg/**


!/.github/
!/**/LICENSE

# ignore build
/build/
/dump/
/.idea/
/pkm/yuu/test/


# Added by cargo

/target
