# ignore everything
*
!/.gitignore

# and then whitelist specific things
!/**/
!**/*.py
!**/*.md
!**/*.yuri
!**/*.png
!/amy/

!/.github/**
!/LICENSE

# ignore build
/build/



# Added by cargo

/target
